@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@layer components {
  .step {
    @apply cursor-pointer sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2  font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
